# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
fusionride
fusionride-*
deploy.go
deploy.exe
deploy_win.exe

# Database & Configs
data/
config/config.yaml

# Worktrees
.worktrees/
worktrees/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Go files
*.test
*.out
go.work
